# DON'T SEND THE CREDENTIALS FILE TO GIT
bbv/protected/config/config.php

# We don't want the compiled assets files and runtime stuff
bbv/assets/*
bbv/protected/runtime/*

# Do not include the saved items files, since these will be different on each system.
bbv/protected/data/files/*

# Remove system specific files
.DS_Store
.project

# Remove LaTeX compilation stuff
*.aux
*.log
*.pdf

# Ignore eclipse user-specific builders
.externalToolBuilders/*
