IndexIgnore */*

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

# TODO: enable on deploy
# rewriteCond %{HTTP_HOST} ^bruinvissen.be [NC]
# rewriteRule ^(.*)$ http://www.bruinvissen.be/$1 [R=301,L]